@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto">
    <h1>All Notes</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="container">
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="Author" />
            </div>
            <div class="form-group">
                <label for="author">Text</label>
                <textarea class="form-control" id="text" name="Text" rows=3></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-3 mb-3">Add</button>
        </div>
    </form>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Created Date</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in ViewBag.Notes)
            {
                <tr>
                    <th scope="row">@note.Id</th>
                    <td>@note.Text</td>
                    <td>@note.CreatedDate</td>
                    <td>@note.Author</td>
                </tr>
            }
        </tbody>
    </table>
</div>
